{% extends "layout.njk" %}

{% block head %}

    <title>Sobre - Foodfy</title>

    <link href="styles/receitas.css" rel="stylesheet">

{% endblock head %}

{% block content %}

    <section id="receitas">
        <h2>Mais acessadas</h2>
        <div class="receitas">
            {% for recipe in recipes %}
            <div class="receita">
                <img src="{{ recipe.image }}" alt="">
                <h3>{{ recipe.title }}</h3>
                <h4>{{ recipe.author }}</h4>
            </div>
            {% endfor %}
            
            {% for recipe in recipes %}
            <div class="receita">
                <img src="{{ recipe.image }}" alt="">
                <h3>{{ recipe.title }}</h3>
                <h4>{{ recipe.author }}</h4>
            </div>
            {% endfor %}
        </div>

    <script src="js/script.js"></script>

    </section>

{% endblock content %}