
.about {
    margin-top: 58px;
}

.about h1 {
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 35px;
    margin-top: 35px;
}

.about p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}