.receitas { 
    margin-top: 50px;
}

/* === MODAL === */
.modal_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 200ms;
}

.modal {
    background-color: #Fff;
    width: 50%;
    height: 50%;
    margin: 5vh auto;
    position: relative;
}

.modal .close_modal {
    color: black;
    position: absolute;
    cursor: pointer;
}

/* === Modal Active === */
.modal_overlay.active{
    transition: 200ms;
    opacity: 1;
    visibility: visible;
}
